pipeline/PL_DATA_BLOB_SQLSERVER_OnlinePurchas.json
{
	"name": "PL_DATA_BLOB_SQLSERVER_OnlinePurchas",
	"properties": {
		"activities": [
			{
				"name": "TruncateStgTables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get Datalake Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[stg].[BackupAndTruncateOnlinePurchaseTable]"
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_Movie",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CopyOnlinePurchaseData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "TruncateStgTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "pipelineId",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							{
								"name": "source_filename",
								"value": "$$FILENAME"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"modifiedDatetimeStart": {
								"value": "@activity('Get Datalake Watermark').output.Watermark",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"wildcardFolderPath": "online",
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['serviceName']"
								},
								"sink": {
									"name": "online_service_name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['serviceCode']"
								},
								"sink": {
									"name": "online_service_code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['movieId']"
								},
								"sink": {
									"name": "movie_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['userId']"
								},
								"sink": {
									"name": "user_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['price']"
								},
								"sink": {
									"name": "price",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['transaction']['id']"
								},
								"sink": {
									"name": "transaction_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['transaction']['datetime']"
								},
								"sink": {
									"name": "transaction_date",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['pipelineId']"
								},
								"sink": {
									"name": "pipelineId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['source_filename']"
								},
								"sink": {
									"name": "source_filename",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ADLS_Online",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ASQL_Movies_Online_Purchase",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "online_purchase"
						}
					}
				]
			},
			{
				"name": "3NFtOnlineService",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyOnlinePurchaseData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LS_githubchangestesting",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "3NFtOnlinePurchase",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "3NFtOnlineService",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateOnlinePurchase]"
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_Movie",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get Datalake Watermark",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Content-Type": "application/json",
						"Accept": "application/json"
					},
					"url": "https://azurementoringdatalakekg.table.core.windows.net/Watermark1(PartitionKey='Watermark',RowKey='Runtime')?sp=raud&st=2024-10-04T13:52:36Z&se=2024-12-20T14:52:00Z&spr=https&sv=2022-11-02&sig=80SUqpR1XQjMB81yEiH5zCDXdQBlmc1t2KoX%2F4tl3ss%3D&tn=Watermark1"
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CopyOnlinePurchaseData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "PUT",
					"headers": {
						"Content-Type": "application/json",
						"Accept": "application/json"
					},
					"url": "https://azurementoringdatalakekg.table.core.windows.net/Watermark1(PartitionKey='Watermark',RowKey='Runtime')?sp=raud&st=2024-10-04T13:52:36Z&se=2024-12-20T14:52:00Z&spr=https&sv=2022-11-02&sig=80SUqpR1XQjMB81yEiH5zCDXdQBlmc1t2KoX%2F4tl3ss%3D&tn=Watermark1",
					"body": {
						"PartitionKey": "Watermark",
						"RowKey": "Runtime",
						"Watermark": "@utcnow()"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-10-05T09:56:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}