pipeline/PL_DATA_BLOB_SQLSERVER.json
{
	"name": "PL_DATA_BLOB_SQLSERVER",
	"properties": {
		"activities": [
			{
				"name": "GetFilesFromDataLakeStorage",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_Movies",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachCSVFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "TruncateStgTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFilesFromDataLakeStorage').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "MapFileToTable",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@if(equals(item().type,'File'),concat(substring(item().name,0,indexOf(item().name,'_'))),'donothing')",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "credits",
										"activities": [
											{
												"name": "CopyCredits",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "pipelineId",
																"value": {
																	"value": "@pipeline().Pipeline",
																	"type": "Expression"
																}
															},
															{
																"name": "source_filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"enableSkipIncompatibleRow": true,
													"validateDataConsistency": true,
													"logSettings": {
														"enableCopyActivityLog": true,
														"copyActivityLogSettings": {
															"logLevel": "Warning",
															"enableReliableLogging": true
														},
														"logLocationSettings": {
															"linkedServiceName": {
																"referenceName": "LS_ABLB_Movie",
																"type": "LinkedServiceReference"
															},
															"path": "logs"
														}
													},
													"dataIntegrationUnits": 4,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "cast",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "cast",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "crew",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "crew",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "id",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "id",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "pipelineId",
																	"type": "String"
																},
																"sink": {
																	"name": "pipelineId",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "source_filename",
																	"type": "String"
																},
																"sink": {
																	"name": "source_filename",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_ADLS_Movies",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ASQL_Movies_Credits",
														"type": "DatasetReference",
														"parameters": {
															"tableName": {
																"value": "@concat(substring(item().name,0,lastIndexOf(item().name,'_')))",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "RestoreCreditsTable",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "CopyCredits",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[stg].[RestoreFromCreditsBackup]"
												},
												"linkedServiceName": {
													"referenceName": "LS_ASQL_Movie",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "movies",
										"activities": [
											{
												"name": "CopyMetadata",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "pipelineId",
																"value": {
																	"value": "@pipeline().Pipeline",
																	"type": "Expression"
																}
															},
															{
																"name": "source_filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"enableSkipIncompatibleRow": false,
													"dataIntegrationUnits": 4,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "adult",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "adult",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "belongs_to_collection",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "belongs_to_collection",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "budget",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "budget",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "genres",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "genres",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "homepage",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "homepage",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "id",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "id",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "imdb_id",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "imdb_id",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "original_language",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "original_language",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "original_title",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "original_title",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "overview",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "overview",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "popularity",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "popularity",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "poster_path",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "poster_path",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "production_companies",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "production_companies",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "production_countries",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "production_countries",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "release_date",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "release_date",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "revenue",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "revenue",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "runtime",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "runtime",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "spoken_languages",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "spoken_languages",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "status",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "status",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "tagline",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "tagline",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "title",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "title",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "video",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "video",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "vote_average",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "vote_average",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "vote_count",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "vote_count",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "pipelineId",
																	"type": "String"
																},
																"sink": {
																	"name": "pipelineId",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "source_filename",
																	"type": "String"
																},
																"sink": {
																	"name": "source_filename",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_ADLS_Movies",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ASQL_Movies_Movies_Metadata",
														"type": "DatasetReference",
														"parameters": {
															"tableName": {
																"value": "@concat(substring(item().name,0,lastIndexOf(item().name,'_')))",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "RestoreMetadatTable",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "CopyMetadata",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[stg].[RestoreFromMovieMetadataBackup]"
												},
												"linkedServiceName": {
													"referenceName": "LS_ASQL_Movie",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "donothing",
										"activities": [
											{
												"name": "Wait1",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 1
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "CopyRatings",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "pipelineId",
														"value": {
															"value": "@pipeline().Pipeline",
															"type": "Expression"
														}
													},
													{
														"name": "source_filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": false,
													"wildcardFileName": {
														"value": "@item().name",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false,
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"enableSkipIncompatibleRow": false,
											"dataIntegrationUnits": 4,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "userId",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "userId",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "movieId",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "movieId",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "rating",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "rating",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "timestamp",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "timestamp",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "pipelineId",
															"type": "String"
														},
														"sink": {
															"name": "pipelineId",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "source_filename",
															"type": "String"
														},
														"sink": {
															"name": "source_filename",
															"type": "String",
															"physicalType": "nvarchar"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_ADLS_Movies",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DS_ASQL_Movies_Ratings",
												"type": "DatasetReference",
												"parameters": {
													"tableName": {
														"value": "@concat(substring(item().name,0,indexof(item().name,'_')))",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "RestoreRatingsTable",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "CopyRatings",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[stg].[RestoreFromRatingsBackup]"
										},
										"linkedServiceName": {
											"referenceName": "LS_ASQL_Movie",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "TruncateStgTables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "GetFilesFromDataLakeStorage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[BackupAndTruncateTable]"
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_Movie",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spPopulateMovieStatus",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEachCSVFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateMovieStatus]"
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_Movie",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spPopulateGenre",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEachCSVFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateGenre]"
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_Movie",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spPopulateCast",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEachCSVFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateCast]"
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_Movie",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spPopulateCompany",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEachCSVFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateCompany]"
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_Movie",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spPopulateMovies",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spPopulateMovieStatus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateMovies]"
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_Movie",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spPopulateMoviesGenreMap",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spPopulateGenre",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "spPopulateMovies",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateMoviesGenreMap]"
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_Movie",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spPopulateMoviesCompanyMap",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spPopulateCompany",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "spPopulateMovies",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateMoviesCompanyMap]"
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_Movie",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spPopulateMoviesCastMap",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spPopulateCast",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "spPopulateMovies",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateMoviesCastMap]"
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_Movie",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spPopulatetRatings",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spPopulateMovies",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulatetRatings]"
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_Movie",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-09-25T13:07:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}